
<h1 class="animated fadeIn fast"> Sobre mí</h1>
<br>
<br><h3 class="animated fadeIn fast">VicAgent Un Tra-Proyecto Personal</h3>
<br>
<br>





<div class="animated fadeIn" class="container-fluid">

    <div class="row mb-5">
        <div class="col-12">
            <img  class="animated fadeIn"  src="assets/img/BBW.jpeg"  height="600" alt="landscape">
        </div>
    </div>
    
   
    <div class="row mb-5">
        <h2 class="animated fadeIn">  Videojuegos   </h2>
        <!-- <H1 class="animated fadeIn">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dolore
             temporibus vitae totam ipsam officia aspernatur officiis. 
             Repellendus quidem quisquam animi iusto repudiandae, libero, 
             molestiae aut, sapiente odit delectus non.
        </H1> -->

        
        <h3>Me encantaba, allí or los 80/90 escaparme a las salas de máquinas ( Así las llamábamos entonces ) con una 
            Moneda que me sudaba ya en la mano. Pinchaba en el Ghost & goblins, Mario Bross, After burner ( uff qué caro, pero qué caña )  
            Mortal kombat y street figter y mis favoritos: Blacktyger, Xwing, double dragon e Ikari warriors.
        </h3>
        <br>
        <h3> En cuanto gastaba la moneda, me quedaba mirando cómo jugaban otros.
            Cuando salió el commodore 64 ( con tiempos de carga de 45 min por juego ;)  )  pasaba
            días enteros jugando, a ikari warriors el que más. También seguí yendo a las salas recreativas para llegar 
            al final de Black Tyger 
        </h3>
        <br>
    </div>
    <h2 > 3D y Online... Por qué? </h2>
    
    <div class="row mb-5">
        
        <div class="col-12">
    <!-- <H3 class="animated fadeIn">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dolore
             temporibus vitae totam ipsam officia aspernatur officiis. 
             Repellendus quidem quisquam animi iusto repudiandae, libero, 
             molestiae aut, sapiente odit delectus non.
        </H3> -->
            <H3 class="animated fadeIn"> Pero con el comodore me daba cuenta que los gráficos y sonidos no eran del todo
                igual que en las máquinas arcade. Pasaba el tiempo... las máquinas arcade seguían igual pero 
                iban desapareciendo las salas recreativas. Ya no podía  llegar al final de la historia en Double Dragon, o Black Tyger 
                o Ikari Warrior,... Las máquinas habían desparecido. 
            </H3>
            <br>
            <H3 class="animated fadeIn">Empecé la universidad y Perdí un poco el interés, ... Pero me Compré un PC 
                allá por los años 98/99 ( ni rastro de mis arcades  ) y me pasaron un juego de formula 1 ( actualmente no me gustan los juegos de coches )
                Y Flipé... Qué gráficos!!, todo en 3D, y qué sonido!! Los coches derrapaban y se destruían, soltando partes como la ruedas, el capó, etc.
                Luego me pasaron un juego que ya llevaba varios años publicado... Tomb Raider... Cool.  Volví a recuperar mi pasión por los videojuegos.

                Con la generación play2, 360 y la proliferación de juegos online, descubrí la adrenalina y el comportamiento
                humano impredecible. Ya no es una IA con un arbol de comportamientos preciso. Ahora Puedes jugar con-contra otras peronas en cualquier lugar del 
                Planeta.

            </H3>
            <br>
            <H3 class="animated fadeIn">
                Actualmente los juegos deben tener una opción cooperativa, 
                los jugadores deben poder jugar con sus amigos, los juegos de rol clásicos ( D&D) requiere un master
                y más de un jugador, pues lo mismo en los videojuegos.
                Por otro lado, debe haber un mínimo en calidad visual, efectos de sonido y partículas.

            </H3>
            <br>
            <H3 class="animated fadeIn">
                Unreal Engine 4/5 Propociona esta tecnología... 
                Puedo crear un mundo de una gran calidad visual  además estar Ready Online Multiplayer   

            </H3>
            <br>
        </div>
        
       
       
       
    </div>

    <div class="row mb-5">
        <h2 class="animated fadeIn"> Refrencias </h2>
        
        <H3 class="animated fadeIn">
            

             Arcade: Black Tyger, Xwing, double dragon e Ikari warriors.

             Tomb Raider, Gears of Wars, Fallout 3 & Skyrim, TitanFall 



        </H3>

      
        


    </div>

    <div class="row mb-5">
        <div class="col-12">
            <img  src="assets/img/DC/banner.png"  height="375
            " alt="bammer"> 
        </div>
    </div>
    
</div>



<!-- <H3 class="animated fadeIn">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dolore
     temporibus vitae totam ipsam officia aspernatur officiis. 
     Repellendus quidem quisquam animi iusto repudiandae, libero, 
     molestiae aut, sapiente odit delectus non.
</H3> -->
